.nav {
    background-color: #507299;
    min-height: 70ch;
    grid-area: n;
}

.item {
    margin-top: 20px;
    text-align: center;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.active {
    color: gold;
}
